{% extends 'templates/master.twig' %}

{% block head %}
    <title>Error 404</title>
{% endblock %}


{% block content %}

    <div class="404 d-flex justify-content-center align-items-center ">
        <div class="text-title d-block">
            <h4>Lo sentimos</h4>
        </div>
        <p>Este recurso actualmente no se encuentra disponible</p>
        <div class="links">

            <a href="javascript: history.go(-1)" class="btn btn-outline-info">Volver atrás</a>
            <a href="inicio" class="btn btn-outline-primary">Ir al inicio</a>
        </div>

    </div>

{% endblock %}
