{% extends 'templates/master.twig' %}

{% block title %}Contacto{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <h1 class="text-center mb-3">Contacto</h1>
            <hr>
            <div class="col-lg-6">
                <h3>Formulario de contacto</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda doloremque doloribus, exercitationem, incidunt nemo nesciunt nobis odio possimus quidem rerum sint tempora velit voluptatem. Architecto aspernatur beatae excepturi hic id.</p>

                <div class="mb-3">
                    <label for="name" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="name" placeholder="Dinos tu nombre">
                </div>

                <div class="mb-3">
                    <label for="phone" class="form-label">Teléfono</label>
                    <input type="text" class="form-control" id="phone" placeholder="Teléfono">
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Correo Electrónico</label>
                    <input type="email" class="form-control" id="email" placeholder="usuario@correo.com">
                </div>

                <div class="mb-3">
                    <label for="message" class="form-label">Mensaje</label>
                    <textarea class="form-control" id="message" rows="3"></textarea>
                </div>

                <div class="mb-3">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" value="" role="switch" id="rgpd">
                        <label class="form-check-label" for="rgpd">
                            <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus adipisci aspernatur atque, beatae, blanditiis dignissimos dolorem eveniet ipsum iste laborum maxime mollitia nobis optio quisquam repellat repellendus tempore veniam voluptas!</small>
                        </label>
                    </div>
                </div>

                <div class="mb-3">
                    <button class="btn btn-outline-primary">Enviar Mensaje</button>
                </div>

            </div>
            <div class="col-lg-6">
                <h3>Donde estamos</h3>
                <iframe src="https://www.google.com/maps/d/embed?mid=1wzTE-Qc0p8-k8-JjQ1YChhveSl9jJOPw&ehbc=2E312F" width="640" height="480"></iframe>
            </div>
        </div>
    </div>

{% endblock %}