{% extends 'templates/master.twig' %}

{% block head %}
    <title>La seguridad nuestra aliada en el hogar</title>
{% endblock %}

    {% block content %}

        <div class="container mt-5">
            <div class="jumbotron">
                <h1 class="display-4">Hello, world!</h1>
                <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                <hr class="my-4">
                <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                </p>
            </div>

            <div class="breadcrumbs mt-1">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Library</li>
                    </ol>
                </nav>
            </div>

{#            cards#}

            <div class="cards">
                <div class="card-deck">

                    {% for i in 0..2 %}
                        <div class="card">
                            <img src="https://picsum.photos/150" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    {% endfor %}


                </div>
            </div>

{#            call to action#}

            <div class="cta mt-5">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <h1 class="display-4">Fluid jumbotron</h1>
                        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
                    </div>
                </div>
            </div>
            <hr>

{#            all data #}
            <div class="bussiness-intelligence mt-5">
                <div class="row">
                    <div class="col-lg-6 d-flex justify-content-center align-items-center flex-column">
                        <h2 >All data in one place</h2>
                        <h3>Configure your data view</h3>
                    </div>
                    <div class="col-lg-6 text-center">
                        <img class="img-fluid" src="./public/img/data-test.png" alt="bussines intelligence">
                    </div>
                </div>
            </div>

            <div class="info text-center full-widht">
                <iframe src="https://www.google.com/maps/d/embed?mid=1wzTE-Qc0p8-k8-JjQ1YChhveSl9jJOPw&ehbc=2E312F" width="960" height="600"></iframe>
            </div>
        </div>

        <hr>


    {% endblock %}

{% block footer %}

{% endblock %}
