{% extends 'templates/master.twig' %}

{% block title %} Portfolio{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">

            <div class="mb3">
                <h1 class="text-center">Portafolio</h1>
            </div>
            <hr>

            {% for i in 0..10 %}
                <div class="col-lg-3 mb-2">
                    <div class="card">
                        <div class="card-header">
                            <h4>Security</h4>
                        </div>

                        <div class="card-body">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem consequatur culpa deleniti doloribus nemo quisquam veritatis voluptates! Commodi cum exercitationem facere harum ipsam iure molestias odit quisquam quos, ut voluptate?
                        </div>

                        <div class="card-footer">
                            <button class="btn btn-outline-primary ">Más</button>
                        </div>
                    </div>



                </div>
            {% endfor %}


    </div>


{% endblock %}