{% extends 'templates/master.twig' %}

{% block content %}

    <section class="container">
        <section class="row mt-5">
            <div class="mb-3">
                <h1 class="text-center">¿ Quienes somos ? </h1>
            </div>
            <hr>
            <div class="col-lg-12">
                <img src="https://picsum.photos/600/400/?blur" alt="Quienes somos" class="img-fluid rounded float-start m-4">

                <h2>Marcando la diferencia</h2>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad assumenda aut earum eligendi est excepturi fugiat harum laborum, maxime omnis perspiciatis porro quas quia sed similique sit temporibus ullam voluptas.</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis enim id inventore itaque magnam, placeat quas reprehenderit! Ad, consectetur cumque, deleniti error ex facere itaque nihil nobis officia ullam vel!</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium deserunt distinctio harum. Alias aperiam autem, est ipsam iure labore mollitia nemo neque, nesciunt nihil officiis, optio quae recusandae. Enim, nostrum.</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consectetur earum iure laboriosam modi nihil perspiciatis praesentium velit? Commodi dolorem harum natus, soluta sunt temporibus voluptatum? Adipisci aspernatur repellat vero?</p>
            </div>
            <div class="col-lg-6">
                <h2>¿ Por qué elegirnos ?</h2>
                <ul>
                    <li>Tecnología</li>
                    <li>Desarrollo</li>
                    <li>Solidez</li>
                    <li>Soporte</li>
                    <li>Alcance</li>
                </ul>
            </div>
        </section>
    </section>

{% endblock %}