<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <link rel="icon" type="image/png" sizes="16x16" href="public/img/perro.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    {% block head %}
        <link rel="stylesheet" href="../../public/css/style.css" />
        <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>

<body>

    <nav class="navbar navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="inicio"><img src="../../public/img/logo.svg" alt="Logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="home">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="quienes-somos">Quienes somos</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="portfolio">Portafolio</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="contacto">Contacto</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

    {% block content %}{% endblock %}

    <div class="footer bg-dark">
        <section class="container">
            <section class="row pt-5 pb-5 mt-5">
                <div class="col col-sm-12 col-lg-4 col-md-6 text-light">
                    <h3>Redes Sociales</h3>
                    <div class="d-flex flex-column">
                        <i class="bi bi-facebook"> Facebook</i>
                        <i class="bi bi-instagram"> Instagram</i>
                        <i class="bi bi-youtube"> Youtube</i>
                        <i class="bi bi-twitter"> Twitter</i>
                    </div>
                </div>
                <div class="col col-sm-12 col-lg-4 col-md-6 text-light">
                    <h3>Aplicaciones</h3>
                    <div class="d-flex flex-column">
                        <i class="bi bi-filetype-java"> Java</i>
                        <i class="bi bi-filetype-js"> Javascript</i>
                        <i class="bi bi-filetype-php"> PHP</i>
                        <i class="bi bi-filetype-json"> Json</i>
                    </div>
                </div>
                <div class="col col-sm-12 col-lg-4 col-md-6 text-light">
                    <h3>Seguridad</h3>
                    <div class="d-flex flex-column">
                        <i class="bi bi-fingerprint"> Biometría</i>
                        <i class="bi bi-shield-lock"> Firewall</i>
                        <i class="bi bi-key"> Claves</i>
                        <i class="bi bi-router"> Redes</i>
                    </div>
                </div>
            </section>

            <div class="text-light text-center">
                &copy; Copyright 2011 Por <a href="http://domain.invalid/" class="text-light"> you</a>.
            </div>
        </section>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>

    {% block footer %} {% endblock %}
</body>

</html>
